<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Error</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="homePage">
        <div class="errorContainer">
            <p class="errorMessage">Error 404!!!<br>Page Not Found<br></p><br>
            <a href="/"><button class="errorButton">Return to Homepage</button></a>
        </div>
    </body>
</html>