<select id="displayProductFlavor" class="orderFlavor" title="Flavor" id="flavor" name="flavor">
    <option value="Vanilla">Vanilla</option>
    <option value="Chocolate">Chocolate</option>
</select>

<select id="displayProductSize" class="orderSize" title="Size" id="size" name="size">
    <option value="6x5">6" x 5"</option>
    <option value="8x5">8" x 5"</option>
</select>