<select id="displayProductFlavor" class="orderFlavor" title="Flavor" id="flavor" name="flavor">
    <option value="Vanilla">Vanilla</option>
    <option value="Chocolate">Chocolate</option>
    <option value="Red Velvet">Red Velvet</option>
</select>

            