<div class="menu">
    <a href="/Products/Cake"><button class="menuBtn">CAKES</button></a>
    <a href="/Products/Cupcake"><button class="menuBtn">CUPCAKES</button></a>
    <a href="/Products/Cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
    <a href="/about"><button class="menuBtn">ABOUT</button></a>
    <button class="menuBtn"><img src="/images/basket.png"></button>
</div>