<% if (error_msg) { %>
    <h2><strong style="color:red; white-space:pre;"><%= error_msg %></strong></h2>
<% } %>

<% if (success_msg) { %>
    <h2><strong style="color:green; white-space:pre;"><%= success_msg %></strong></h2>
<% } %>