<%_ if (error_msg) { _%>
    <h2><strong style="color:red; white-space:pre;"><%= error_msg %></strong></h2>
<%_ } _%>

<%_ if (success_msg) { _%>
    <h2><strong style="color:green; white-space:pre;"><%= success_msg %></strong></h2>
<%_ } _%>

<%_ if (search_error) { _%>
    <h2 style="display: flex; justify-content: center; margin-left: -160px; font-size: 15px; font-weight: bold; font-family: Poppins, sans-serif;"><strong style="color:red; white-space:pre;"><%= search_error %></strong></h2>
<%_ } _%>

