<div class="progressBar">
    <div class="progress"></div>
    <div class="progressStep"><img src="/images/CartAfter.png"></div>
    <div class="progressStep"><img src="/images/BrownForm.png"></div>
    <div class="progressStep"><img src="/images/BrownCheck.png"></div>
</div>