<div class="progressBar">
    <div class="progress"></div>
    <div class="progressStep" id="progressImage1"><img src="/images/GrayCart.png"></div>
    <div class="progressStep" id="progressImage2"><img src="/images/GrayForm.png"></div>
    <div class="progressStep" id="progressImage3"><img src="/images/GrayCheck.png"></div>
</div>