<form action='<%= type %>' class="search-bar" method="Post">
    <input type="text" class="textbox" placeholder="type here..." name="searchBarInput" required/>
    <input type="hidden" value="<%= type %>" name="searchProductType"/>
    <div class = "search-btn" href="#">
        <button type="submit">
            <img src="/images/search.png">
        </button>
    </div>
</form>