<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>About</title>
        <link href="/css/productsPage.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <img src="/images/logo.png" placeholder="G-Cakes Logo" alt="G-Cakes Logo" >
            </div>
		
			<div class="menu">
				<a href="/admin/cake"><button class="menuBtn">CAKES</button></a>
				<a href="/admin/cupcake"><button class="menuBtn">CUPCAKES</button></a>
				<a href="/admin/cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
				<button class="menuBtn" style="background-color:#DF7E85;">ABOUT</button>
				<a href="/admin/orders/all"><button class="menuBtn">ORDERS</button></a>
				<a href="/logout"><button class="logoutBtn">LOGOUT</button></a>
			</div>
		</div>
		
		<div class="aboutBox">
			<!--<div class="buttonHolder">
				<button type="submit" class="Edit3" id="edit3">Edit Page</button>
			</div>-->
			
			<div class="aboutHeader">
				<h1>About Gina</h1>
			</div>
			
			<div class="aboutContainer">
				I'm Gina, creator of G-cakes, started as a home business in 2007 in Jeddah, Saudi Arabia
				<br>where my husband was working as an OFW. Time has come to go back home for good. 
				<br>And so here I am to share my passion in art of decorating baked goodies.

				<br><br>G-cakes is a legitimate cake business with sales receipts and official receipts.
			</div>
			
			<div class="picHolder">
				<img class="profilePic" src="/images/profPic.jpg" placeholder="Profile Picture">
			</div>		
			
			<div class="Holder2">
				LAS PIÑAS, METRO MANILA
				<br>MOBILE/VIBER 0945 211 2668<br><br>
			</div>
			
			<div class="iconHolder">
				<button class="icon">
					<a href="https://www.instagram.com/gcakesbygina/" target="_blank"><img class="ig" src="/images/ig1.png" placeholder="Instagram Logo"></a>
				</button>
				<button class="icon">
					<a href="https://www.facebook.com/gcakesbygina" target="_blank"><img class="fb" src="/images/fb1.png" placeholder="Facebook Logo"></a>
				</button>
			</div>
		</div>
	</body>
</html>