<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Add Cake Page</title>
        <link href="/css/addProduct.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<%- include("partials/logo") %>
			<%- include("partials/menubuttons") %>
		</div>
		

		<!-- Trigger/Open The Modal -->
		<button id="myBtn">Open Add Cake</button>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		<!-- Modal content -->
			<div class="modal-content" style="background-color: #EBD8DB;">
				<span class="close"></span>
					<div class="addProductHeader">
						<h1>ADD CAKE</h1>
					</div>
					<%- include("partials/messages") %>
					<form action="/addCake" class="addProductForm" method="Post" enctype="multipart/form-data">
						<table>
							<tr>
								<td style="width: 22%;"><div class="productCss"><label for="productName">Cake Name:</label></div></td>	
								<td style="width: 3%;"></td>
								<td style="width: 25%;"><input class="input" type="text" id="productName" name="productName" placeholder="Enter Name"></td>
								<td style="text-align: center; width: 17%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>								
								<td><input type="file" id="myFile" name="filename"></td>
							</tr>
						
							<tr>
								<td><div class="productCss"><label for="productFlavors">Vanilla</label></div></td>
								<td></td>
								<td></td>
								<td></td>								
								<td><div class="productCss"><input class="inputCheckbox" type="checkbox" id="productDedication" name="productDedication" value="1">
								<span class="checkmark"></span><label for="allowDedication">Allow dedication:</label></div></td>
							</tr>
						
							<tr>
								<td style="text-align: right;"><div class="productCss"><label for="productSizes">6 x 5</label></div></td>
								<td></td>								
								<td><input class="input" type="number" id="productPrices1" name="productPricesVanilla1" placeholder="Enter Price"></td>
								<td></td>								
								<td><div class="productCss"><input class="inputCheckbox" type="checkbox" id="productNumberCake" name="productNumberCake" value="1">
								<label for="numberCake">Number Cake:</label><span class="checkmark"></span></div></td>
							</tr>
							
							<tr>
								<td style="text-align: right"><div class="productCss"><label for="productSizes">8 x 5</label></div></td>								
								<td></td>
								<td><input class="input" type="number" id="productPrices2" name="productPricesVanilla2" placeholder="Enter Price"></td>
								<td colspan="2" style="text-align: center;"><div class="productCss"><label for="productSizes">Number Cake</label>
								<a>&nbsp;</a><input class="inputNum" type="number" id="productPricesN" name="productPricesNumberCake" disabled="disabled" placeholder="Not Applicable"></td>								
							</tr>
						
							<tr>
								<td><div class="productCss"><label for="productFlavors">Chocolate</label></div></td>								
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								
							</tr>
							
							<tr>
								<td style="text-align: right"><div class="productCss"><label for="productSizes">6 x 5</label></div></td>								
								<td></td>
								<td><input class="input" type="number" id="productPrices3" name="productPricesChocolate1" placeholder="Enter Price"></td>
								<td></td>								
								<td style="text-align: center"><button type="submit" class="Add" id="addl">Add</button></td>
							</tr>
							
							<tr>
								<td style="text-align: right"><div class="productCss"><label for="productSizes">8 x 5</label></div></td>
								<td></td>
								<td><input class="input" type="number" id="productPrices4" name="productPricesChocolate2" placeholder="Enter Price"></td>
								<td></td>								
								<td style="text-align: center"><button type="button" class="Cancel" id="cancel">Cancel</button></td>
							</tr>							
						</table>
					</form>
				</div>
			</div>
	
	</body>

	<script>
		// Get the modal
		var modal = document.getElementById("myModal");
		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
			modal.style.display = "none";
		  }
		}
		
		$('#productNumberCake').change(function(e) {
			if ($(this).is(":checked") == true) {
				$(".input").val('');
				$(".input").attr('placeholder', 'Not Applicable');
				$(".input").prop("disabled", true);
				$(".inputNum").attr('placeholder', 'Enter Price');
				$(".inputNum").prop("disabled", false)
			} else {
				$(".input").attr('placeholder', 'Enter Price');
				$(".input").prop("disabled", false);
				$(".inputNum").val('');
				$(".inputNum").attr('placeholder', 'Not Applicable');
				$(".inputNum").prop("disabled", true)
			}
        })
		// When the user clicks number cake, it makes the other textbox disabled except for Number Cake textbox
		/*
		function EnableDisableTextBox(numberCake) {
			var productPricesN = document.getElementById("productPricesN");
			var productPrices = document.getElementById("productPrices1");
			var productPrices2 = document.getElementById("productPrices2");
			var productPrices3 = document.getElementById("productPrices3");
			var productPrices4 = document.getElementById("productPrices4");
			productPricesN.disabled = numberCake.checked ? false : true;
			if (!productPricesN.disabled) {
				productPricesN.placeholder = "Enter Price";
				productPrices.disabled = "disabled";
				productPrices2.disabled = "disabled";
				productPrices3.disabled = "disabled";
				productPrices4.disabled = "disabled";
				productPrices.value = "";
				productPrices2.value = "";
				productPrices3.value = "";
				productPrices4.value = "";
				productPrices.placeholder = "Not Applicable";
				productPrices2.placeholder = "Not Applicable";
				productPrices3.placeholder = "Not Applicable";
				productPrices4.placeholder = "Not Applicable";
			}
			else{
				productPricesN.value = "";
				productPricesN.placeholder = "Not Applicable";
				productPrices.disabled = "";
				productPrices2.disabled = "";
				productPrices3.disabled = "";
				productPrices4.disabled = "";
				productPrices.placeholder = "Enter Price";
				productPrices2.placeholder = "Enter Price";
				productPrices3.placeholder = "Enter Price";
				productPrices4.placeholder = "Enter Price";
			}
		}
		*/
	</script>
</html>	