<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Add Cupcake Page</title>
        <link href="../css/addProduct.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <img src="logo.png" placeholder="G-Cakes Logo" alt="1">
            </div>
		
			<div class="menu">
				<button class="menuBtn">CAKES</button>
				<button class="menuBtn">CUPCAKES</button>
				<button class="menuBtn">DECORATED COOKIES</button>
				<button class="menuBtn">ABOUT</button>
				<button class="menuBtn">ORDERS</button>
			</div>
		</div>
		
		<button id="myBtn">Open Add Cucake</button>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		<!-- Modal content -->
			<div class="modal-content-cupcake" style="background-color: #EBD8DB;">
				<span class="close"></span>
					<div class="addProductHeader">
						<h1>ADD CUPCAKE</h1>
					</div>
					<form class="addProductForm" method="Post" enctype="multipart/form-data">
						<table>
							<tr>
								<td style="width: 22%;"><label for="productName">Cupcake Name:</label> </td>	
								<td style="width: 3%;"></td>
								<td style="width: 25%;"><input type="text" id="productName" name="productName"></td>
								<td style="text-align: center; width: 17%;"><label for="productPictures">Image:</label></td>								
								<td><input type="file" id="myFile" name="filename" ></td>
							</tr>
						
							<tr>
								<td><label for="productFlavors">Vanilla</label></td>
								<td></td>
								<td></td>
								<td style="text-align: center;"><label for="Frosting">Frosting:</label></td>								
								<td><label for="frostingType">Fondant:</label>
								<input type="checkbox"><span class="checkmark"></span><label for="frostingType">Icing:</label>
								<input type="checkbox"><span class="checkmark"></span></td>
							</tr>
						
							<tr>
								<td style="text-align: right;"><label for="productSizes">One Dozen</label> </td>
								<td></td>								
								<td><input type="number" id="productPrices" name="productPrices"></td>
								<td></td>								
								<td></td>
							</tr>				
						
							<tr>
								<td><label for="productFlavors">Chocolate</label> </td>								
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								
							</tr>
							
							<tr>
								<td style="text-align: right"><label for="productSizes">One Dozen</label> </td>								
								<td></td>
								<td><input type="number" id="productPrices" name="productPrices"></td>
								<td></td>								
								<td></td>
							</tr>
							
							<tr>
								<td><label for="productFlavors">Red Velvet</label> </td>								
								<td></td>
								<td></td>
								<td></td>
								<td style="text-align: center"><button class="Add" id="addl">Add</button></td>
								
							</tr>
							
							<tr>
								<td style="text-align: right"><label for="productSizes">One Dozen</label> </td>
								<td></td>
								<td><input type="number" id="productPrices" name="productPrices"></td>
								<td></td>								
								<td style="text-align: center"><button class="Cancel" id="cancel">Cancel</button></td>
							</tr>
						</table>
					</form>
			</div>
		</div>
	</body>

	<script>
		// Get the modal
		var modal = document.getElementById("myModal");

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
			modal.style.display = "none";
		  }
		}
		$(document).ready(function() {
			// Adds another textbox for additional flavor inputs
			$(".addAnotherFlavor").click(function () {
				var inputFlavor = document.createElement("input");
            	inputFlavor.className="flavors";
				inputFlavor.name="flavors"
				inputFlavor.type="text"
				inputFlavor.required = true
				$(".productFlavors").append(inputFlavor)
				$(".productFlavors").append("<br>")
			});
			
			// Adds another textbox for additional size inputs
			$(".addAnotherSize").click(function () {
				var inputSize = document.createElement("input");
            	inputSize.className="sizes";
				inputSize.name="sizes"
				inputSize.type="text"
				inputSize.required = true
				$(".productSizes").append(inputSize)
				$(".productSizes").append("<br>")
				console.log('Remove last Flavor')
			});
			
			// Deletes the most recent added flavor textbox
			$(".deleteLastFlavor").click(function () {
				if ($(".flavors").length > 1) {
					$(".productFlavors").find(".flavors:last").remove();
					$(".productFlavors").find("br:last").remove();
				}
			});
			// Deletes the most recent added size textbox
			$(".deleteLastSize").click(function () {
				if ($(".sizes").length > 1) {
					$(".productSizes").find(".sizes:last").remove();
					$(".productSizes").find("br:last").remove();
				} 
			});
    	});
	</script>
</html>	