<html>
    <head>
        <title>
            Testing Page
        </title>
    </head>
        <form action="/addProduct" method="Post" enctype="multipart/form-data">
            <label for="productName">Product Name:</label><br>
            <input type="text" id="productName" name="productName"><br>
            <label for="productSize">Sizes:</label><br>
            <input type="text" id="productSize" name="productSize"><br>
            <input type="text" id="productSize1" name="productSize"><br>
            <input type="text" id="productSize2" name="productSize"><br>
            <label for="productFlavor">Flavors:</label><br>
            <input type="text" id="productFlavor" name="productFlavor"><br>
            <input type="text" id="productFlavor1" name="productFlavor"><br>
            <input type="text" id="productFlavor2" name="productFlavor"><br>
            <label for="productPrice">Price:</label><br>
            <input type="number" id="productPrice" name="productPrice"><br>
            <label for="productImage"><strong>Upload Image</strong></label><br>
            <input type="file" id="productImage" name="productImage"><br>
            <button id="addProductButton">Add Product</button>
        </form>
        <a href="/">HomePage Page</a>
    </body>
</html>