<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Add Product Page</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <img src="logo.png" placeholder="G-Cakes Logo" alt="1">
            </div>
		
			<div class="menu">
				<button class="menuBtn">ADD PRODUCT</button>
				<button class="menuBtn">DELETE PRODUCT</button>
				<button class="menuBtn">EDIT PRODUCT</button>
			</div>
		</div>
		
		<div class="addProductContainer">
			<div class="addProductBox">
				<div class="addProductHeader">
					<h1>ADD PRODUCT</h1>
				</div>
				<form class="addProductForm" method="Post" enctype="multipart/form-data">
					<div class="addProductGroup">
						<label for="productName">Enter Product Name:</label>
						<input type="text" id="productName" name="productName"><br>
					</div>
					
					<div class="addProductGroup">
						<div class="flavorContainer">
							<div class="productFlavors">
								<label for="productFlavors">Enter Product Flavor:</label>
								<input type="text" class="flavors" name="flavors" required>
							</div>
							<button class="addAnotherFlavor">+</button>
							<button class="deleteLastFlavor">-</button> <b> add or delete a box</b>
						</div>
					</div>
				
					<div class="addProductGroup">
						<div class="sizeContainer">
							<div class="productSizes">
								<label for="productSizes">Enter Product Size:</label>
								<input type="text" class="sizes" name="sizes" required>
							</div>
							<button class="addAnotherSize">+</button>
							<button class="deleteLastSize">-</button> <b> add or delete a box</b><br>
						</div>
					</div>

					<div class="addProductGroup">
						<label for="productTypes">Product Type:</label><br>
						<select name="productTypes" id="productTypes">
							<option value="Cakes">Cake</option>
							<option value="Cupcakes">Cupcake</option>
							<option value="Cookies">Cookie</option>
						</select>
						<br><br>
					</div>
				
					<div class="addProductGroup"><br>
						<label for="productPrices">Enter Product Price:</label>
						<input type="number" id="productPrices" name="productPrices">
					</div>		
					
					<div class="addProductGroup">
						<label for="productPictures">Upload Product Picture:</label><br>
						<input type="file" id="myFile" name="filename" >	
						
					</div>
					<div class="Btn">
                        <button class="Cancel" id="cancel">CANCEL</button>
                        <button class ="Submit" id="order">SUBMIT</button>
                    </div>
				</form>
			</div>
		</div>
	</body>

	<script>
		$(document).ready(function() {
			// Adds another textbox for additional flavor inputs
			$(".addAnotherFlavor").click(function () {
				var inputFlavor = document.createElement("input");
            	inputFlavor.className="flavors";
				inputFlavor.name="flavors"
				inputFlavor.type="text"
				inputFlavor.required = true
				$(".productFlavors").append(inputFlavor)
				$(".productFlavors").append("<br>")
			});
			
			// Adds another textbox for additional size inputs
			$(".addAnotherSize").click(function () {
				var inputSize = document.createElement("input");
            	inputSize.className="sizes";
				inputSize.name="sizes"
				inputSize.type="text"
				inputSize.required = true
				$(".productSizes").append(inputSize)
				$(".productSizes").append("<br>")
				console.log('Remove last Flavor')
			});
			
			// Deletes the most recent added flavor textbox
			$(".deleteLastFlavor").click(function () {
				if ($(".flavors").length > 1) {
					$(".productFlavors").find(".flavors:last").remove();
					$(".productFlavors").find("br:last").remove();
				}
			});
			// Deletes the most recent added size textbox
			$(".deleteLastSize").click(function () {
				if ($(".sizes").length > 1) {
					$(".productSizes").find(".sizes:last").remove();
					$(".productSizes").find("br:last").remove();
				} 
			});
    	});
	</script>
</html>	