<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Add Product Page</title>
        <link href="../css/AddProduct.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    </head>

	<body>
		<div class="header">
			<img src="../images/logo.png"/>
		</div>
		
		<div class="topnav a">
				<div class ="oval"><a href="AddProduct.html">Add Product</a></div>
				<div class ="ovala"><a href="DeleteProduct.html">Delete Product</a></div>
				<div class ="ovalb"><a href="EditProduct.html">Edit Product</a></div>
		</div>
	
		<div class="main">
			<h1>Add Product</h1><br><br>
			<form>
				<label for="fname">Enter Product Name</label>
				<input type="text" id="pname" name="pname"><br>
				<div class="productFlavors">
					<label for="lname">Enter Product Flavor</label><br>
					<input type="text" class="pflavor" name="pflavor" required><br>
					<button class="addAnotherFlavor">+</button>
				</div>
				
				<div class="productSizes">
					<label for="fname">Enter Product Size</label>
					<input type="text" class="psize" name="psize" required><br>
					<button class="addAnotherSize">+</button>
				</div>

				<label for="lname">Enter Product Price</label>
				<input type="number" id="pprice" name="pprice" ><br>
				<label for="lname">Upload Product Picture</label><br><br>
				<form action="/action_page.php">
					<input type="file" id="myFile" name="filename" >
				</form>
			<a href="AddProduct.html"><input type="submit" value="Submit"></a><br>
			</form>		
		</div>
	</body>

	<script>
		$(document).ready(function() {
			$(".addAnotherFlavor").click(function () {
				var inputFlavor = document.createElement("input");
            	inputFlavor.className="pflavor";
				inputFlavor.name="pflavor"
				inputFlavor.type="text"
				inputFlavor.required = true
				$(".productFlavors").append(inputFlavor)
				$(".productFlavors").append("<br>")
			});

			$(".addAnotherSize").click(function () {
				var inputSize = document.createElement("input");
            	inputSize.className="psize";
				inputSize.name="psize"
				inputSize.type="text"
				inputSize.required = true
				$(".productSizes").append(inputSize)
				$(".productSizes").append("<br>")
			});
    	});
	</script>
</html>	