<html>
	<head>
		<link rel="stylesheet" type = "text/css" media="all" href="AddProduct.css">
	</head>
	<body>
	<div class="header">
		<img src="Picture1.png"/>
	</div>
		
	<div class="topnav a">
			<div class ="oval"><a href="AddProduct.html">Add Product</a></div>
			<div class ="ovala"><a href="DeleteProduct.html">Delete Product</a></div>
			<div class ="ovalb"><a href="EditProduct.html">Edit Product</a></div>
	</div>
	
	<div class="main">
		<h1>Add Product</h1><br><br>
		<form>
		<label for="fname">Enter Product Name</label>
		<input type="text" id="pname" name="pname"><br>
		<label for="lname">Enter Product Flavor</label>
		<input type="text" id="pflavor" name="pflavor"><br>
		<label for="fname">Enter Product Size</label>
		<input type="text" id="psize" name="psize"><br>
		<label for="lname">Enter Product Price</label>
		<input type="text" id="pprice" name="pprice"><br>
		<label for="lname">Upload Product Picture</label><br><br>
		<form action="/action_page.php">
		<input type="file" id="myFile" name="filename">
		</form>
		<a href="AddProduct.html"><input type="submit" value="Submit"></a><br>
		</form>		
	</div>
	</body>
</html>	