<html>
    <head>
        <title> Jasper addType testing</title>
    </head>

    <body>
        <form action="/addType" method="POST">
            <p>Type: </p><br>
            <input type="text" class="productType" name="productType"><br>
            <input type="submit">
        </form>
    </body>
</html>