<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Home</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

    <body class="homePage">
        <div class="header">
            <div class="menu">
			    <%- include("partials/menubuttons") %>
            </div>
        </div>

        <div class="data">
  
        </div>

        <div class="inquire">
            <a href="/main"><button>INQUIRE NOW</button></a>
        </div>

        <input type="text" id="menu" name="menu" value="" hidden/>
    </body>

</html>