<html>
    <head>
        <title>
            Marc Baura Website
        </title>
    </head>
    <body>
        <form action="/login" class="loginForm" method="Post">
            <label class="loginStyle" for="username">Username:</label><br>
            <input class="loginInput" type="text" id="username" name="username"><br><br>
            <label class="loginStyle" for="password">Password:</label><br>
            <input class="loginInput" type="password" id="password" name="password"><br>
            <button class ="loginSubmit" id="login">LOGIN</button>
        </form>

        <form action="/register" method="Post">
            <label class="loginStyle" for="username">Username:</label><br>
            <input class="loginInput" type="text" id="username" name="username"><br><br>
            <label class="loginStyle" for="password">Password:</label><br>
            <input class="loginInput" type="password" id="password" name="password"><br>
            <button class ="loginSubmit" id="login">Register</button>
        </form>
        <a href="/delete">Click Me to Delete Something</a>
        <a href="/test">Next Page</a>
        
    </body>
</html>