<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Home Page</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    </head>

    <body class="homePage">
        <div class="header">
            <div class="menu">
                <a href="/products"><button class="menuBtn" name="type" value="Cake">CAKES</button></a>
                <a href="/products"><button class="menuBtn" name="type" value="Cupcake">CUPCAKES</button></a>
                <a href="/products"><button class="menuBtn" name="type" value="Cookie">DECORATED COOKIES</button></a>
                <a href="/about"><button class="menuBtn">ABOUT</button></a>
                <button class="menuBtn"><img src="images/basket.png"></button>
            </div>
        </div>

        <div class="data">
  
        </div>

        <div class="inquire">
            <button>INQUIRE NOW</button>
        </div>

        <input type="text" id="menu" name="menu" value="" hidden/>
    </body>

</html>