<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Login Page</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="loginPage">
        <div class="loginContainer">
            <%- include("partials/messages") %>
            <form action="/login" class="loginForm" method="Post" enctype="multipart/form-data">
                <p class="loginStyle" for="username">Username:</p>
                <input class="loginInput" type="text" id="username" placeholder="Enter Username" name="username">
                <p class="loginStyle" for="password">Password:</p>
                <input class="loginInput" type="text" id="password" placeholder="Enter Password" name="password">
                <button class="loginSubmit" type="submit" id="login">LOGIN</button>
            </form>
        </div>
    </body>

</html>