<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Product Page</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/keen-carousel.css" rel="stylesheet" type="text/css" />
    <link href="../css/keen-slider.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/keen-slider.min.js"></script>
    <script src="../js/keen-slider.js"></script>
</head>

<body class="mainBackground">
    <div class="header">
        <div class="logo">
            <img src="images/Logo.png" placeholder="G-Cakes Logo" alt="1">
        </div>

        <div class="menu">
            <button class="menuBtn">CAKES</button>
            <button class="menuBtn">CUPCAKES</button>
            <button class="menuBtn">DECORATED COOKIES</button>
            <button class="menuBtn">ABOUT</button>
            <button class="menuBtn"><img src="images/basket.png"></button>
        </div>
    </div>


    <div class="soloCarousel">
        <div id="my-keen-slider" class="keen-slider adjust">
            <button class="keen-slider__slide productCarouselDisplay">      
                <div class="carouselItemImage">
                    <img src="images/cake1.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
    
            <button class="keen-slider__slide">      
                <div class="carouselItemImage productCarouselDisplay">
                    <img src="images/cake2.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
    
            <button class="keen-slider__slide productCarouselDisplay">      
                <div class="carouselItemImage">
                    <img src="images/cake3.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
    
            <button class="keen-slider__slide productCarouselDisplay">      
                <div class="carouselItemImage">
                    <img src="images/cake4.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
        </div>
      
        <div class="soloCarouselBtn soloCarouselPrev">&#10094;</div>
        <div class="soloCarouselBtn soloCarouselNext">&#10095;</div>
    </div>

    <div class="multiCarousel">
        <div id="multi" class="keen-slider adjust">
            <button class="keen-slider__slide productBoxCarousel">      
                <div class="carouselItemImage">
                    <img src="images/cake1.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
    
            <button class="keen-slider__slide productBoxCarousel">      
                <div class="carouselItemImage">
                    <img src="images/cake2.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
    
            <button class="keen-slider__slide productBoxCarousel">      
                <div class="carouselItemImage">
                    <img src="images/cake3.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
    
            <button class="keen-slider__slide productBoxCarousel">      
                <div class="carouselItemImage">
                    <img src="images/cake4.jpg" placeholder="picture of an icecream" alt="1">
                </div>
            </button>
        </div>

        <div class="multiCarouselBtn multiCarouselPrev">&#10094;</div>
        <div class="multiCarouselBtn multiCarouselNext">&#10095;</div>
    </div>

    <div class="modalBackground">
        <div class="modalContent">
            <div class="close">+</div>
            <div class="modalContentImage">
                <img src="images/loginbackground.png" alt="placeholder">
            </div>
            <form class="orderForm">
                <h1>ProductName(FIX THIS)</h1>
                <h2>Price(FIX THIS)</h2>
                <input type="hidden" name="productName" value="productName">
                <select class="orderFlavor" title="Flavor" id="flavor" name="flavor">
                    <option>Select Flavor</option>
                </select>
                <select class="orderSize" title="Size" id="size" name="size">
                    <option>Select Size</option>
                </select>
                <div class="orderQuantityContainer">
                    <span id="decrement" class="incdec orderDecrement">-</span>
                    <input id="orderQuantity" name="orderQuantity" class="quantity" type="number" min="1" value="1" >
                    <span id="increment" class="incdec orderIncrement">+</span>
                </div>
                <button class="addBtn">Add To Cart</button>
            </form>
        </div>
    </div>

   <script>
      $(document).ready(function() {
        const soloCarousel = document.querySelectorAll(".productCarouselDisplay");
        const multiCarousel = document.querySelectorAll(".productBoxCarousel");
        
        function autoplay(main, controls) {return (slider) => {
            let timeout
            let mouseOver = false
            function clearNextTimeout() {
                clearTimeout(timeout)
            }
            function nextTimeout() {
                clearTimeout(timeout)
                if (mouseOver) return
                timeout = setTimeout(() => {
                    slider.next()
                }, 1000)
            }
            slider.on("created", () => {
                slider.container.addEventListener("mouseover", () => {
                    mouseOver = true
                    clearNextTimeout()
                })
              
                slider.container.addEventListener("mouseout", () => {
                    mouseOver = false
                    nextTimeout()
                })

                $(controls).mouseover(() => {
                    mouseOver = true
                    clearNextTimeout()
                })
 
                $(controls).mouseout(() => {
                    mouseOver = false
                    nextTimeout()
                })
                nextTimeout()
            })
            slider.on("dragStarted", clearNextTimeout)
            slider.on("animationEnded", nextTimeout)
            slider.on("updated", nextTimeout)
          }
        }

        
        var slider = new KeenSlider("#my-keen-slider", {loop: true},
            [
              autoplay(this.slider, ".soloCarouselBtn")
            ])
      
        $('.soloCarouselPrev').click(function() {
          slider.prev();
        })

        $('.soloCarouselNext').click(function() {
          slider.next();
        })
             
        var multi = new KeenSlider(
            "#multi",
          {
            loop: true,
            slides: {
              perView: 4,
              spacing: 10,
            },
          },
            [
              autoplay(this.multi, ".multiCarouselBtn")
            ]);

        $('.multiCarouselPrev').click(function() {
          multi.prev();
          })

        $('.multiCarouselNext').click(function() {
          multi.next();
        })
      })
    </script>
</body>

</html>
