<html>
    <head>
        <title>
            Register Page
        </title>
    </head>

    <body>
        <form action="/register" method="Post">
            <input type="text" class="username" name="username">
            <input type="text" class="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>