<html>
    <head>
        <title> Jasper addProduct testing</title>
    </head>

    <body>
        <form action="/addCakeJasper" method="Post" enctype="multipart/form-data">
            <input type="text" class="productName" name="productName"><br>
            <input type="number" class="productPrice" name="productPrice"><br>
            <select class="productFlavor" name="productFlavor">
                <% flavors.forEach(function(flavors) { %>
                    <option value="<%= flavors.flavor %>"><%= flavors.flavor %></option><br>
                <% }) %>
            </select><br>
            <select class="productSize" name="productSize">
                <% sizes.forEach(function(sizes) { %>
                    <option value="<%= sizes.size %>"><%= sizes.size %></option><br>
                <% }) %>
            </select><br>
            <input type="file" class="productImage" name="productImage"><br>
            <input type="submit"><br>
        </form>
    </body> 
</html>