<html>
    <head>
        <title>
            Testing Page
        </title>
    </head>
        
    <body>
        <% preview.forEach(function(preview) { %>
            <a href="/Cakes/:<%= preview.name %>">
            <p><%= preview.name %></p>
            <img src="<%= preview.image %>">
            </a>
        <% }) %>
    </body>
</html>