* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.logo {
    margin-left: 100px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mainBackground {
    background-color: #EBD8DB;      
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;
}

.menu {
    margin-left: 600px;
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menuBtn {
    background-color:#3D2115;
    margin-left: 10px;
    padding: 0px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 18px;
    color: #FFFFFF;
    height: 50px;
}

.menuBtn:hover {
    background-color:#002ead;
    transition: 0.5s;
}
  
.addProductHeader{
	width: 100%;
	height: 100px;
	line-height:90px;
    background-color: #BBD1CD;
	color: #4A3627;
}

.addProductHeader h1{
	font-size: 50px;
	text-align: center;
}

.addProductContainer{
	height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addProductBox{
	position: relative;
	height: 500px;
	width: 1100px;
    margin: 0 15px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	border: 1px solid #000000;	
}

.addProductForm {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

table{
	margin-top: -20px;
	margin-left: 200px;
	margin-right: auto;
	width:80%;
}

td{
	height: 50px;
}


input[name=productName] {
	width: 100%;
	outline: none;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 0px 5px;
    height: 30px;
    margin: 8px 0;
	border-color: #6F4E37;
}

input[name=productPrices] {
	width: 100%;
	outline: none;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 0px 5px;
    height: 30px;
    margin: 8px 0;
	border-color: #6F4E37;
}

select[name=productFlavors]{
	border-color: #6F4E37;
}

select[name=productFlavors]{
	border-color: #6F4E37;
}

label[for=productName]{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
}

label[for=productFlavors]{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
}

label[for=productSizes]{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
}


label[for=productPrices]{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
}

label[for=productPictures]{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
}

select[name=productFlavors]{
	font-size:20px;
	color: #4A3627;
}

select[name=productSizes]{
	font-size:20px;
	color: #4A3627;
}

.addAnotherSize{
	font-size:20px;
	border: 1px solid #6F4E37;
}

.addAnotherFlavor{
	font-size:20px;
	border: 1px solid #6F4E37;
}

.Btn {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: right;
}
  

.Submit {
    margin-left: 20px;
    background-color: #95E2A6;
	color: #4A3627;
}
  
.Cancel {
    background-color: #E43939;
	color: #4A3627;
}
  
.Cancel, .Submit {
    font-size: 20px;	
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer
}
