@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.orderContainer {
  width: 98%;
  margin: 5% auto;
  background: #FFFFFF;
  border: 2px solid #3D2115;
  border-radius: 20px;
}

.orderNavigation {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.orderNavigationItem {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.activeOrderNavigationItem {
  font-weight: bold;
}

.orderDataContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.orderTableHeader, .orderTableInfoRow {
  border-bottom: 5px solid #FFFFFF;
}

.orderTableHeader {
  background: #4A3627;
}

.orderTableHeaderItem {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px;
}

.orderTableInfoRow {
  background: #EBD8DB;
}

.orderTableInfo {
  font-size: 12px;
  color: #3D2115;
  padding: 5px;
}

.orderViewBtn, .orderUndoBtn, .orderStatusBtn {
  width: 80%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.orderUndoBtn, .orderStatusBtn {
  width: fit-content;
}

.orderViewBtn:hover, .orderUndoBtn:hover, .orderViewBtn:hover {
  opacity: 1.5;
  transition: all ease 0.3s;
}

.orderViewBtn {
  background-color: #C4A484;
  border: 2px solid #3D2115;
}

.orderUndoBtn {
  background-color: #DF7E85;
  border: 2px solid #FE0000;
}

.orderStatusBtn {
  background-color: #95E2A6;
  border: 2px solid #3F9752;
}

.orderModalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.orderModalContent {
  width: 70%;
  padding: 40px 10px 10px 10px;
  height: 80%;
  background-color: #FFFFFF;
  position: relative;
  overflow: auto;
}

.orderClose {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  font-weight: bold;
  transform: rotate(45deg);
  cursor: pointer;
}

.orderViewModalBuyerInfo {
  padding: 20px;
}

.orderModalProductContainer {
  padding-top: 20px;
}

.orderModalFieldSet {
  padding: 20px;
}

.orderModalTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.paginationHolder{
	width: 1500px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #4A3627;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pageBtn{
	border: none;
	background-color: white;
	cursor: pointer;	
}
