@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.logo {
    margin-left: 100px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mainBackground {
    background-color: #EBD8DB;      
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;
}

.menu {
    margin-left: 600px;
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.menuBtn {
    background-color:#EBD8DB;
    margin-left: 10px;
    padding: 0px 30px;
    text-decoration: none;
	border: none;
	border-radius: 50px;
    font-family: Poppins;
    font-size: 18px;
    color: #4A3627;
    height: 50px;
}

.menuBtn:hover {
    background-color:#DF7E85;
    transition: 0.5s;
	cursor: pointer;
}

.searchBtnContainer button{
	padding: 11px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	font-family: Poppins;
    	font-size: 18px;
   	 color: #4A3627;
	border-radius: 20px;
}

.searchBtn{
	margin-left: 10px;
	padding: 8px;
	font-size: 17px;
	border: none;
	border-radius: 20px;
}


.buttonHolder{
	width: 100%;
	display: flex;
	justify-content: right;
	margin-bottom: 10px;
}

.productBox{
	margin: 50px 100px;
	width: 90%;
	height: 100%;
}

.productForm {
    width: 100%;
    padding: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	border: 2px solid #6F4E37;
	border-radius: 15px;
}

.table1{
	margin-top: -20px;
	margin-left: 30px;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 20px;
}

.th1{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
	font-family: Poppins, sans-serif;
}

.td1{
	max-height: 100%;
	max-width: 100%;
	text-align: center;
	font-size: 16px;
	color: #4A3627;
	font-family: Poppins, sans-serif;
}

.td1 img{
	width: 150px;
	height: 200px;
	margin: 10px;
	padding-top: 10px;
}

.border{
	box-shadow: 0px 0px 1px 1px #6F4E37; 
	background-clip: border-box;
	border-radius: 15px;
}

.AddA, .AddB, .AddC {
    background-color: #FFFFFF;
	color: #3F9752;
	font-family: Poppins, sans-serif;
	max-width: 100%;
	border: 2px solid #3F9752;
}

.AddA{
	width: 100px;
}

.AddB{
	width: 125px;
}

.AddC{
	width: 110px;
}
  
.Remove {
    background-color: #FFFFFF;
	color: #BA0C16;
	font-family: Poppins, sans-serif;
	width: 80px;
	max-width: 100%;
	border: 2px solid #BA0C16;
}

.Edit {
    background-color: #FFFFFF;
	color: #0096FF;
	font-family: Poppins, sans-serif;
	width: 80px;
	max-width: 100%;
	border: 2px solid #0096FF;
}
  
.AddA, .AddB, .AddC, .Remove, .Edit {
    font-size: 15px;	
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer
}

.paginationHolder{
	width: 1500px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #4A3627;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pageBtn{
	border: none;
	background-color: #EBD8DB;
	cursor: pointer;	
}

.addProductHeader, .editProductHeader{
	background-color: #FFFFFF;
	color: #4A3627;
	padding: 2px 16px;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	border: 2px solid #6F4E37;
	border-left: none;
	border-right: none;
}


.addProductHeader h1, .editProductHeader h1{
	font-size: 30px;
	text-align: center;
	font-family: Poppins, sans-serif;
}


.addProductForm, .editProductForm {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.table2{
	margin-top: -10px;
	margin-left: 30px;
	width: 100%;
	table-layout: fixed;
}

.td2{
	max-height: 100%;
	max-width: 100%;
}


.input, .inputName{
	width: 200px;
	max-width: 100%;
	outline: none;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 0px 5px;
    height: 30px;
    margin: 8px 0;
	border-color: #6F4E37;
	font-family: Poppins, sans-serif;
}

.inputNum{
	width: 170px;
	max-width: 100%;
	outline: none;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 0px 5px;
    height: 30px;
    margin: 8px 0;
	border-color: #6F4E37;
	font-family: Poppins, sans-serif;
}

.input::-webkit-input-placeholder, .inputNum::-webkit-input-placeholder, .inputName::-webkit-input-placeholder {
  text-align: left;
  font-size: 14px;
}

.input:focus::-webkit-input-placeholder, .inputNum:focus::-webkit-input-placeholder, .inputName:focus::-webkit-input-placeholder {
  color: transparent;
}

.inputCheckbox:hover{
    cursor: pointer;
}

.productCss{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
	font-family: Poppins, sans-serif;
}

.Add {
    background-color: #FFFFFF;
	color: #3F9752;
	font-family: Poppins, sans-serif;
	width: 100px;
	max-width: 100%;
	border: 2px solid #3F9752;
}

.Edit2{
	background-color: #FFFFFF;
	color: #0096FF;
	font-family: Poppins, sans-serif;
	width: 100px;
	max-width: 100%;
	border: 2px solid #0096FF;
}
  
.Cancel {
    background-color: #FFFFFF;
	color: #BA0C16;
	font-family: Poppins, sans-serif;
	width: 100px;
	max-width: 100%;
	border: 2px solid #BA0C16;
}
  
.Add, .Cancel, .Edit2 {
    font-size: 20px;	
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 200px;
  padding: 0;
  width: 780px;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #6F4E37;
}

.modal-content-cupcake {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 200px;
  padding: 0;
  width: 930px;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #6F4E37;
}

.modal-content-cookie {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 200px;
  padding: 0;
  height: 300px;
  width: 800px;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #6F4E37;
}
