@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.logo {
    margin-left: 100px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mainBackground {
    background-color: #EBD8DB;      
}

.header {
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;
}

.menu {
    margin-left: 600px;
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menuBtn {
    background-color:#EBD8DB;
    margin-left: 10px;
    padding: 0px 30px;
    text-decoration: none;
	border: none;
	border-radius: 50px;
    font-family: Poppins;
    font-size: 18px;
    color: #4A3627;
    height: 50px;
}

.menuBtn:hover {
    background-color:#DF7E85;
    transition: 0.5s;
	cursor: pointer;
}

.buttonHolder{
	width: 1500px;
	max-width: 100%;
	display: flex;
	justify-content: right;
	margin-bottom: 10px;
}

.productBox{
	margin: 50px 100px;
	width: 1450px;
	height: 100%;
	max-width: 100%;
}

.productForm {
    width: 100%;
    padding: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	border: 2px solid #6F4E37;
	border-radius: 15px;
}

table{
	margin-top: -20px;
	margin-left: 30px;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 20px;
}

th{
	font-size: 20px;
    font-weight: bold;
	color: #4A3627;
	font-family: Poppins, sans-serif;
}

td{
	max-height: 100%;
	max-width: 100%;
	text-align: center;
	font-size: 16px;
	color: #4A3627;
	font-family: Poppins, sans-serif;
}

td img{
	width: 150px;
	height: 200px;
	margin: 10px;
	padding-top: 10px;
}

.border{
	box-shadow: 0px 0px 1px 1px #6F4E37; 
	background-clip: border-box;
	border-radius: 15px;
}

.Add {
    background-color: #FFFFFF;
	color: #3F9752;
	font-family: Poppins, sans-serif;
	width: 100px;
	max-width: 100%;
	border: 2px solid #3F9752;
}
  
.Remove {
    background-color: #FFFFFF;
	color: #BA0C16;
	font-family: Poppins, sans-serif;
	width: 80px;
	max-width: 100%;
	border: 2px solid #BA0C16;
}

.Edit {
    background-color: #FFFFFF;
	color: #0096FF;
	font-family: Poppins, sans-serif;
	width: 60px;
	max-width: 100%;
	border: 2px solid #0096FF;
}
  
.Add, .Remove, .Edit {
    font-size: 15px;	
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer
}

.paginationHolder{
	width: 1500px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #4A3627;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pageBtn{
	border: none;
	background-color: #EBD8DB;
	cursor: pointer;	
}

