        <header class="header">
            <nav class="navigation">
                <a href="/" class="sitename">
                    Bloggo
                </a>
    
                <div class="collapse">
                    <ul class="navigation-bar">
                        <a href="/" class="link mid">Home</a>
                        <select class="link" id="submenu">
                          <option value="default" disabled selected hidden>Categories</option>
                          <option value="general">General</option>
                          <option value="education">Education</option>
                          <option value="entertainment">Entertainment</option>
                          <option value="food">Food</option>
                          <option value="games">Games</option>
                          <option value="history">History</option>
                          <option value="horror">Horror</option>
                          <option value="science">Science</option>
                          <option value="romance">Romance</option>
                          <option value="technology">Technology</option>
                          <option value="travel">Travel</option>
                        </select>
                        <a href="/recent" class="link">Recent</a>
                        <a href="/popular" class="link">Popular</a>
                    </ul>
                </div>

                <div class="collapse">
                    <ul class="navigation-bar">
                        <form action="/search-blog" method="POST">
                            <input type="text" class="searchbutton" name="searchinput" placeholder="Search Here">
                            <button class="searchicon"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <a href="/post" class="link">Post a Blog</a>
                            <a href="/profile" class="link"><i class="fa-solid fa-user"></i>{{ name }}</a>
                            <a href="/logout" class="link">Log-out</a>
                        </form>
                        <!-- <a href="#" class="nav-link"><i class="fa-solid fa-link"></i></a> -->
                        
                    </ul>
                </div>
            </nav>
        </header>
        <hr>