{{#if error_msg}}
<div>
  <div>
    <h6><strong>{{error_msg}}</strong></h6>
  </div>
</div>
{{/if}}

{{#if success_msg}}
<div>
  <div>
    <h6><strong>{{success_msg}}</strong></h6>
  </div>
</div>
{{/if}}