<a href="/admin/cake"><button class="menuBtn">CAKES</button>
<a href="/admin/cupcake"><button class="menuBtn">CUPCAKES</button></a>
<a href="/admin/cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
<button class="menuBtn" style="background-color:#DF7E85;">ABOUT</button>
<a href="/admin/orders/all"><button class="menuBtn">ORDERS</button></a>
<a href="/logout"><button class="logoutBtn">LOGOUT</button></a>