<form action='<%= type %>' class="search-bar" method="Post">
    <input type="text" class="textbox" placeholder="Search..." name="searchBarInput" required/>
    <input type="hidden" value="<%= type %>" name="searchProductType"/>
    <div class = "search-btn" href="#">
        <button class="searchButton" type="submit">
            <img src="/images/search2.png">
        </button>
    </div>
</form>
